<div class="container text-center mt-3">
	<h2>QR</h2>
	<img src="@ViewBag.QrBase64"
         alt="QR Code"
         width="200" height="200"
         style="display:block; margin:auto; border:1px solid #ccc; border-radius:8px;" />
</div>
