@inject IStringLocalizer<SharedResources> Localizer
@using Demo01.Shared.Resources
@using Microsoft.Extensions.Localization

@{
    ViewData["Title"] = Localizer["Privacy_Title"];
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>@Localizer["Privacy_Message"]</p>
</div>
